.section {
  background: $white;
  padding: 40px 20px;

  // Responsiveness
  @include desktop {
    // Sizes
    &.is-medium {
      padding: 120px 20px;
    }

    &.is-large {
      padding: 240px 20px;
    }
  }
}
