.box {
  padding: 30px;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  min-height: 250px;
  display: block;
  transition: .2s ease;
  border: none !important;

  &:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include mobile() {
    padding: 20px;
  }
}
