.label {
  display: inline-block;

  &.is-number {
    border-radius: 50px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    min-width: 20px;
    padding: 0 5px;
    background-color: white;
    font-size: 0.8em;
    font-weight: 600;
    color: $grey-darker;
  }

  &.is-txt {
    border-radius: 3px;
    text-align: left;
    height: 20px;
    line-height: 20px;
    min-width: 20px;
    padding: 0 5px;
    background-color: white;
    font-size: 0.8em;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $grey-darker;
  }

  // Colors
  &.is-bg-red {
    background-color: $red;
    color: #fff;
  }
  &.is-bg-orange {
    background-color: $orange;
    color: #fff;
  }
  &.is-bg-green {
    background-color: $green;
    color: #fff;
  }
  &.is-bg-grey {
    background-color: $grey-lighter;
    color: $grey;
  }

  &.is-red {
    color: $red;
    font-weight: bold;
  }
  &.is-orange {
    color: $orange;
    font-weight: bold;
  }
  &.is-green {
    color: $green;
    font-weight: bold;
  }
  &.is-grey {
    color: $grey-light;
    font-weight: bold;
  }

  @include until($desktop) {
    vertical-align: bottom;
  };
}
