.menu {
  background-color: $bg-menu;
  min-height: 100vh;
  width: 260px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  overflow: hidden;
  z-index: 20;
  transition: transform .3s ease;

  .header-menu {
    background-color: $blue-sqreen;
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    transition: 0.08s ease;

    &:hover {
      background-color: lighten($blue-sqreen, 3%);
    }

    img {
      display: inline-block;
      line-height: normal;
      vertical-align: middle;
    }
  }

  .switch-app {
    position: relative;

    .app-identity {
      padding: 10px 20px;
      display: inline-block;
      vertical-align: middle;
      transition: 0.08s ease;
      width: calc(100% - 55px);

      &:hover {
        background-color: darken($bg-menu, 2%);
      }

      .avatar {
        background-color: $grey-light;
        border-radius: 50%;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        margin-right: 5px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        width: 35px;

        img {
          width: 100%;
        }

        &.has-no-avatar {
          background-color: $grey-light;

          img {
            display: none;
          }

          &::after {
            color: $grey-darker;
            content: attr(data-initiale);
            font-size: 1.1em;
          }
        }
      }

      .switch-app-btn {
        display: inline-block;
        vertical-align: middle;

        &.open {
          .selected-app i {
            transform: rotateZ(-180deg);
          }

          .app-list {
            display: block;
          }
        }

        .selected-app {
          color: #fff;
          font-size: 1.2em;
          font-weight: 500;
          margin: 0 auto;
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;

          i {
            display: inline-block;
            vertical-align: middle;
            font-size: 0.8em;
          }
        }

        .app-list {
          position: absolute;
          display: none;
          top: 55px;
          left: 0;
          width: 200px;
          background-color: $bg-menu;
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
          max-height: 100vh;
          overflow: auto;

          li {
            a {
              padding: 10px 20px;
              display: block;
              color: #fff;
            }

            &:hover {
              background-color: lighten($bg-menu, 5%);
            }
          }
        }
      }
    }

    .app-settings {
      display: inline-block;
      vertical-align: middle;
      height: 55px;
      width: 55px;
      line-height: 55px;
      text-align: center;
      transition: 0.08s ease;
      float: right;

      img {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }

      &:hover {
        background-color: darken($bg-menu, 2%);
      }
    }
  }

  .nav-items {
    overflow: auto;
    height: calc(100vh - 290px);
    display: block;
    width: 100%;

    li.active a {
      box-shadow: inset 4px 0 0 $blue-sqreen;
      background-color: darken($bg-menu, 4%);
    }

    & > li {
      transition: 0.1s ease;

      a {
        display: block;
        padding: 17px 20px;
        color: $grey-lighter;

        &:hover {
          background-color: darken($bg-menu, 2%);
        }

        i {
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          font-size: 1.2em;
          width: 30px;
        }

        .title {
          display: inline-block;
          vertical-align: middle;
          font-size: 1em;
          font-weight: 400;
          color: inherit;
        }
      }

      &.has-child {
        ul li a {
          padding-left: 60px;
          display: block;
        }
      }
    }
  }

  .app-status {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: .3s ease;

    &.open {
      background-color: darken($bg-menu, 4%);

      .title i {
        transform: rotateZ(0deg);
      }

      .status-list {
        display: block;
      }
    }

    .title {
      cursor: pointer;
      transition: .1s ease;
      text-align: center;
      padding: 20px 0;
      font-size: 1em;
      margin: 0;

      span {
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }

      i {
        color: #fff;
        transition: .1s ease;
        transform: rotateZ(180deg);
      }

      &:hover {
        background-color: lighten($bg-menu, 1%);
      }
    }

    .status-list {
      padding: 5px 0 40px;
      display: none;

      li {
        padding: 8px 20px;
        margin: 0;

        .name {
          color: #fff;
          font-size: 1em;
          font-weight: 500;
          display: inline-block;
          vertical-align: middle;
        }

        .status {
          float: right;
          color: rgba(255,2255,255, 0.5);
          font-size: 1em;
          font-weight: 500;
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;

          &.activate {
            color: $green;
          }
        }
      }
    }
  }

  @include until($desktop) {
    transform: translateX(-100%);
  };
}
