.text {

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      color: $color;
    }

    &.is-orange {
      color: $orange;
    }
  }
}