/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

@font-face {
  font-family: 'BG light';
  src: url("/fonts/hinted-BrandonGrotesque-Light.eot");
  src: local("Brandon Grotesque Light"), local("BrandonGrotesque-Light"), url("/fonts/hinted-BrandonGrotesque-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/hinted-BrandonGrotesque-Light.woff2") format("woff2"), url("/fonts/hinted-BrandonGrotesque-Light.woff") format("woff"), url("/fonts/hinted-BrandonGrotesque-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'BG medium';
  src: url("/fonts/hinted-BrandonGrotesque-Medium.eot");
  src: local("Brandon Grotesque Medium"), local("BrandonGrotesque-Medium"), url("/fonts/hinted-BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/hinted-BrandonGrotesque-Medium.woff2") format("woff2"), url("/fonts/hinted-BrandonGrotesque-Medium.woff") format("woff"), url("/fonts/hinted-BrandonGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'BG regular';
  src: url("/fonts/hinted-BrandonGrotesque-Regular.eot");
  src: local("Brandon Grotesque Regular"), local("BrandonGrotesque-Regular"), url("/fonts/hinted-BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/hinted-BrandonGrotesque-Regular.woff2") format("woff2"), url("/fonts/hinted-BrandonGrotesque-Regular.woff") format("woff"), url("/fonts/hinted-BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BG bold';
  src: url("/fonts/hinted-BrandonGrotesque-Bold.eot");
  src: local("Brandon Grotesque Bold"), local("BrandonGrotesque-Bold"), url("/fonts/hinted-BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/hinted-BrandonGrotesque-Bold.woff2") format("woff2"), url("/fonts/hinted-BrandonGrotesque-Bold.woff") format("woff"), url("/fonts/hinted-BrandonGrotesque-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

.columns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.col-1 {
  width: calc((1 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

.col-2 {
  width: calc((2 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

.col-3 {
  width: calc((3 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

.col-4 {
  width: calc((4 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

.col-5 {
  width: calc((5 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

.col-6 {
  width: calc((6 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

.col-7 {
  width: calc((7 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

.col-8 {
  width: calc((8 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

.col-9 {
  width: calc((9 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

.col-10 {
  width: calc((10 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

.col-11 {
  width: calc((11 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

.col-12 {
  width: calc((12 * 100%)/12 - (20px/2));
  -ms-flex: none;
      flex: none; }

html, body {
  background: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  font-family: "BG regular", sans-serif;
  background-color: #ebebeb; }

.wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative;
  padding: 0 20px; }

header {
  margin-top: 165px; }
  header div[class^=col] {
    display: -ms-flexbox;
    display: flex; }
  header img {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  header p {
    font-family: "BG regular", sans-serif;
    font-size: 2.14286rem;
    line-height: 1.3;
    color: #8c8c8c; }
