$blue-sqreen: #3C78CC;
$primary: #3D7ACC;
$agua: #3399cc;
$bg-menu: #323543;
$black-light: #1b212d;
$black-console: #2B2B2B;
$snow: #fafafa;
$snow-dark: #fbfbfb;
$snow-light: #f9fafa;
$silver-light: #bababa;
$silver-dark: #808080;
$red-dark: #cd0000;
$green-console: #6A8759;
$yellow-console: #ffc66d;
$orange: #ffc66d;

