$prefix: 'infra_';

.#{$prefix}wrapper {
  padding: 20px 10px;
}

.#{$prefix}ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;

  .#{$prefix}ibox-title {
    background-color: $white;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;

    h3 {
      font-size: 16px;
      font-weight: $weight-title-bold;
      display: inline-block;
    }
  }
  .#{$prefix}ibox-tools {
    display: inline-block;
    float: right;
    position: relative;
    margin-top: 4px;
    padding: 0;

    a {
      cursor: pointer;
      margin-left: 5px;
      color: $silver-light;
      border-bottom: none !important;
    }
  }

  .#{$prefix}ibox-content {
    background-color: $white;
    padding: 15px 20px 20px 20px;
    border-color: $silver-slight;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;

    h1 {
      font-size: $size-3;
      margin-top: 5px;
      font-weight: $weight-small;
    }
  }
}
