html, body {
  background: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  font-family: "BG regular", sans-serif;
  background-color: $grey-light;
}

.wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative;
  padding: 0 $gutter;
}
