main {
  display: inline-block;
  width: calc(100% - 260px);
  height: 100vh;
  vertical-align: top;
  margin-left: 260px;
  transition: .3s ease;

  .main-container {
    padding: 61px 20px 20px;
    position: relative;
    height: 100vh;
    overflow: auto;

    @include mobile() {
      padding: 50px 20px 20px;
    };
  }

  @include until($desktop) {
    margin-left: 0;
    width: 100%;
  };
}
