html, body {
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  font-family: "BG regular", sans-serif;
  background-color: $white;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative;

  @media screen and (max-width: 960px) {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
}

// Grid
@for $i from 1 through 12 {
  .col-#{$i} {
    width: ($i * 100%)/12;
    flex: none;

    @media screen and (max-width: 960px) {
      width: 100%;
    }
  }
}

.columns {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 960px) {
    display: block;
    margin: 0 auto;
  }
}
