$prefix: 'login_';

.#{$prefix}page {
  max-width: 412px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;

  @include mobile() {
    padding: 3px 0;
    max-width: 430px;
  }
}

.#{$prefix}inputs {
  padding: 20px 12px;
  background-color: $white;
  border-radius: $radius;
  text-align: center;

  input {
    height: 50px;
    line-height: 50px;
    border-radius: $radius;
    font-weight: $weight-normal;
  }

  @include mobile() {
    padding: 0 0 20px 0;
  }
}

.#{$prefix}free {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: $weight-title-bold;
  font-size: 1.5em;
  line-height: normal;
  margin: 5px 0 30px;

  @include mobile() {
    font-size: 1.2em;
    padding-top: 20px;
  }
}

.login_form {
  padding: 10px 12%;
}

.#{$prefix}sub {
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  color: $white;

  a {
    margin: 0 10px;
    color: $white;

    &:hover, &:active {
      color: $white;
    }
  }

  @include mobile() {
    a {
      display: block;
      margin: 10px 0;
      padding: 5px 0;
    }
  }
}
