h1 {
  font-family: "BG medium", sans-serif;
	font-size: rem-calc(38px);
	line-height: 0.9;
	color: $black;
  margin-top: 13vh;
  margin-bottom: 40px;

  @media screen and (max-width: 960px) {
    margin-top: 0;
    font-size: rem-calc(28px);
    margin-bottom: 15px;
  }
}

h2 {
  display: block;
  margin-bottom: 20px;
  font-family: "BG bold", sans-serif;
	font-size: rem-calc(18px);
	line-height: 2;
	letter-spacing: 0.2px;
	color: $violet;
  text-transform: uppercase;

  @media screen and (max-width: 960px) {
  	font-size: rem-calc(24px);
  	line-height: 1.5;
    margin-bottom: 30px;
  }
}

h3 {
  font-family: "BG bold";
	font-size: rem-calc(13px);
	line-height: 3.1;
	color: $grey-light;
  text-transform: uppercase;
}

h4 {
  font-family: "BG medium", sans-serif;
	font-size: rem-calc(27px);
	line-height: 1.3;
	color: $black;
}
